*.obj
*.pdb
*.user
*.suo
*.bak
*.log
*.log*
[Bb]in
[Dd]ebug*/**
obj/
.vs/
.sonar/
[Rr]elease*/**
packages/**
*.exclude
*.sln.cache

src/packages/

src/NDependOut/**
src/.sonarqube/**

web.localDebug.config
appsettings.localDebug.config
app.localDebug.config
